.noise-overlay {
    position: fixed;
    inset: 0;
    background-image: url(noise.webp);
    background-repeat: repeat;
    opacity: 0.1;
    pointer-events: none;
    z-index: 100000;
    overflow: hidden;
}