.drop {
  position: relative;
  width: 20px;
  height: 20px;
  top: -30px;
  margin: 0 auto;
  background: red;
  border-radius: 20px;
  animation-name: drip;
  animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.drop:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid rgba(255, 0, 0, 1);
  top: -22px;
}
.wave {
  position: absolute;
  opacity: 0;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 1px;
  border: #f00 7px solid;
  border-radius: 300px/150px;
  animation-name: ripple;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.wave:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: -5px;
  left: -5px;
  width: 2px;
  height: 1px;
  border: #f00 5px solid;
  border-radius: 300px/150px;
  animation-name: ripple-2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes ripple {
  0% {
    opacity: 1;
  }
  to {
    width: 600px;
    height: 300px;
    border-width: 1px;
    opacity: 0;
  }
}
@keyframes ripple-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}
@keyframes drip {
  to {
    top: 55%;
  }
}
@keyframes shake {
  0% {
    transform: rotate(var(--start-angle));
  }
  49% {
    transform: rotate(var(--start-angle));
  }
  50% {
    transform: rotate(var(--end-angle));
  }
  to {
    transform: rotate(var(--end-angle));
  }
}
@keyframes shake2 {
  0% {
    transform: rotate(0);
  }
  14% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(var(--left-angle));
  }
  29% {
    transform: rotate(var(--left-angle));
  }
  30% {
    transform: rotate(0);
  }
  44% {
    transform: rotate(0);
  }
  45% {
    transform: rotate(var(--right-angle));
  }
  59% {
    transform: rotate(var(--right-angle));
  }
  60% {
    transform: rotate(0);
  }
}
@keyframes shake3 {
  0% {
    transform: translate(-3px);
  }
  5% {
    transform: translate(3px);
  }
  10% {
    transform: translate(-2px);
  }
  15% {
    transform: translate(2px);
  }
  20% {
    transform: translate(-1px);
  }
  25% {
    transform: translate(1px);
  }
  30% {
    transform: translate(0);
  }
}
@keyframes bounceVertical {
  0% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(var(--y-pos));
  }
}
.coming-bg {
  background-image: url(/images/coming/bg-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.coming-blood {
  background-image: url(/images/coming/blood-mobile.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.coming-text {
  background-image: url(/images/coming/text-mobile.png);
  background-size: min(100%, 600px) auto;
  background-position: center 100px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .coming-blood {
    background-image: url(/images/coming/blood-desktop.png);
  }
}
@media screen and (min-width: 1024px) {
  .coming-text {
    background-image: url(/images/coming/text-desktop.png);
    background-size: cover;
    background-position: center top;
  }
}
@font-face {
  font-family: Killer;
  src: local("Killer"), url(/assets/KILLERS-DFHXNKQ6.otf) format("opentype");
  font-display: block;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
.home_mobile_menu_bar {
  background: url(/images/home/mobile_menu_bar.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
:before,
:after {
  --tw-content: "";
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
.pointer-events-none {
  pointer-events: none;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.bottom-\[30px\] {
  bottom: 30px;
}
.left-0 {
  left: 0;
}
.left-1\/2 {
  left: 50%;
}
.top-0 {
  top: 0;
}
.top-1\/2 {
  top: 50%;
}
.z-10 {
  z-index: 10;
}
.-mb-1 {
  margin-bottom: -0.25rem;
}
.-mb-3 {
  margin-bottom: -0.75rem;
}
.-ml-\[10px\] {
  margin-left: -10px;
}
.-ml-\[16px\] {
  margin-left: -16px;
}
.-ml-\[17px\] {
  margin-left: -17px;
}
.-ml-\[34px\] {
  margin-left: -34px;
}
.-ml-\[4px\] {
  margin-left: -4px;
}
.-ml-\[51px\] {
  margin-left: -51px;
}
.mb-\[14px\] {
  margin-bottom: 14px;
}
.mb-\[45px\] {
  margin-bottom: 45px;
}
.mb-\[70px\] {
  margin-bottom: 70px;
}
.ml-\[2px\] {
  margin-left: 2px;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-10 {
  height: 2.5rem;
}
.h-12 {
  height: 3rem;
}
.h-24 {
  height: 6rem;
}
.h-7 {
  height: 1.75rem;
}
.h-\[100vh\] {
  height: 100vh;
}
.max-h-max {
  max-height: -moz-max-content;
  max-height: max-content;
}
.min-h-\[100vh\] {
  min-height: 100vh;
}
.w-10 {
  width: 2.5rem;
}
.w-12 {
  width: 3rem;
}
.w-24 {
  width: 6rem;
}
.w-\[100vw\] {
  width: 100vw;
}
.w-\[1920px\] {
  width: 1920px;
}
.w-\[370px\] {
  width: 370px;
}
.w-\[432px\] {
  width: 432px;
}
.w-full {
  width: 100%;
}
.min-w-\[100vw\] {
  min-width: 100vw;
}
.min-w-\[900px\] {
  min-width: 900px;
}
.min-w-max {
  min-width: -moz-max-content;
  min-width: max-content;
}
.max-w-\[1060px\] {
  max-width: 1060px;
}
.max-w-\[392px\] {
  max-width: 392px;
}
.max-w-\[465px\] {
  max-width: 465px;
}
.-translate-y-\[340px\] {
  --tw-translate-y: -340px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-full {
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.p-\[3px\] {
  padding: 3px;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pt-\[100px\] {
  padding-top: 100px;
}
.pt-\[110px\] {
  padding-top: 110px;
}
.pt-\[30px\] {
  padding-top: 30px;
}
.text-center {
  text-align: center;
}
.text-\[13px\] {
  font-size: 13px;
}
.text-\[15px\] {
  font-size: 15px;
}
.text-\[18px\] {
  font-size: 18px;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[28px\] {
  font-size: 28px;
}
.text-\[30px\] {
  font-size: 30px;
}
.text-\[31px\] {
  font-size: 31px;
}
.text-\[50px\] {
  font-size: 50px;
}
.text-\[56px\] {
  font-size: 56px;
}
.text-\[70px\] {
  font-size: 70px;
}
.text-\[80px\] {
  font-size: 80px;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.italic {
  font-style: italic;
}
.leading-\[1\.2\] {
  line-height: 1.2;
}
.leading-\[1\.8\] {
  line-height: 1.8;
}
.leading-none {
  line-height: 1;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.text-\[\#770000\] {
  --tw-text-opacity: 1;
  color: rgb(119 0 0 / var(--tw-text-opacity));
}
.text-\[\#F0AD01\] {
  --tw-text-opacity: 1;
  color: rgb(240 173 1 / var(--tw-text-opacity));
}
.text-\[\#FFCC00\] {
  --tw-text-opacity: 1;
  color: rgb(255 204 0 / var(--tw-text-opacity));
}
.drop-shadow-\[0px_0px_0px_\#770000\] {
  --tw-drop-shadow: drop-shadow(0px 0px 0px #770000);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.drop-shadow-\[1px_1px_0px_\#770000\] {
  --tw-drop-shadow: drop-shadow(1px 1px 0px #770000);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.drop-shadow-\[1px_1px_0px_\#FFCC00\] {
  --tw-drop-shadow: drop-shadow(1px 1px 0px #ffcc00);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
:root {
  font-family: Killer, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}
:root ::-webkit-scrollbar {
  display: none;
}
.hover\:translate-y-0:hover {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@media (min-width: 1024px) {
  .lg\:ml-auto {
    margin-left: auto;
  }
  .lg\:h-20 {
    height: 5rem;
  }
  .lg\:w-20 {
    width: 5rem;
  }
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:text-\[18px\] {
    font-size: 18px;
  }
}
:root {
  --fcc-flip-duration: 0.7s;
  --fcc-spacing: 8px;
  --fcc-digit-block-width: 46px;
  --fcc-digit-block-height: 80px;
  --fcc-digit-block-radius: 4px;
  --fcc-digit-block-spacing: 4px;
  --fcc-digit-font-size: 50px;
  --fcc-label-font-size: 16px;
  --fcc-label-color: inherit;
  --fcc-background: #0f181a;
  --fcc-digit-color: #fff;
  --fcc-divider-color: hsla(0, 0%, 100%, 0.4);
  --fcc-divider-height: 1px;
  --fcc-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  --fcc-separator-size: 5px;
  --fcc-separator-color: currentColor;
}
._qWTcH {
  font-family: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  display: flex;
  align-items: center;
  gap: var(--fcc-spacing);
}
._1tbqx ._3cpN7 {
  margin-bottom: calc(var(--fcc-label-font-size) * 2);
}
._3cpN7 ._2EBbg:not(:last-child) {
  margin-right: var(--fcc-digit-block-spacing);
}
._3cpN7 {
  position: relative;
  display: flex;
  align-items: center;
}
._2aOn7 {
  color: var(--fcc-label-color);
  line-height: 1;
  font-weight: 400;
  font-size: var(--fcc-label-font-size);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 150%);
}
._2EBbg {
  perspective: 200px;
  position: relative;
  font-size: var(--fcc-digit-font-size);
  color: var(--fcc-digit-color);
  font-weight: 500;
  line-height: 0;
  width: var(--fcc-digit-block-width);
  height: var(--fcc-digit-block-height);
  box-shadow: var(--fcc-shadow);
  border-radius: var(--fcc-digit-block-radius);
}
._106d2,
._SKh-V {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: var(--fcc-background);
}
._SKh-V {
  align-items: flex-end;
  top: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: var(--fcc-divider-height) solid var(--fcc-divider-color);
}
._106d2 {
  align-items: flex-start;
  bottom: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
._3luxx {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 50%;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateX(0);
  border-radius: inherit;
}
._3luxx._2kgZC {
  transition: transform var(--fcc-flip-duration) ease-in-out;
  transform: rotateX(-180deg);
}
._2v-d4 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  backface-visibility: hidden;
  background: var(--fcc-background);
}
._1GZQ7 {
  align-items: flex-end;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: var(--fcc-divider-height) solid var(--fcc-divider-color);
}
._3AVXa {
  align-items: flex-start;
  transform: rotateX(-180deg);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
._2hRXr {
  height: var(--fcc-digit-block-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._1tbqx ._2hRXr {
  margin-bottom: calc(var(--fcc-label-font-size) * 2);
}
._2hRXr:after,
._2hRXr:before {
  content: "";
  width: var(--fcc-separator-size);
  height: var(--fcc-separator-size);
  border-radius: 50%;
  background-color: var(--fcc-separator-color);
}
._2hRXr:before {
  margin-bottom: var(--fcc-separator-size);
}
